.container {
    display: grid;
    grid-template-areas: 
        'head head head'
        'left content right'
        'footer footer footer';
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    width: 80vw;
    height: 90vh;
    margin-inline: auto;
    color: white;
    font-size: 25px;
    text-align: center;
 
}
header {
    background-color: deepskyblue;
    grid-area: head;
}
section {
    background-color: rgb(118, 221, 7);
    grid-area: content;
}
aside.left {
    background-color: orangered;
    grid-area: left;
}
aside.right {
    background-color: yellow;
    grid-area: right;
}
.footmain{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    grid-area: footer;
    background-color: rgb(167, 26, 167);
    padding: 17px;
    

}
.footmain .foot{
    background-color: coral;
}
